@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../node_modules/@fontsource/ibm-plex-sans") format("woff2");
  font-display: swap;
}
